# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Outputs gerados
outputs/

# Node / Marp artifacts
node_modules
package.json
package-lock.json
slides.html

# OS
.DS_Store